header {
    display: none;
}

h3 {
    margin: 0px auto 10px;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);
}

h3 span {
    position: relative;
}

h3 span {
    color: #fff;
}

h3 .subtitle {
    padding: 10px;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-style: normal;
    margin-bottom: -20px;
}

h3 a {
    color: #df903b;
}

h3 .tlsub {
    margin-bottom: 15px;
    font-style: normal;
    cursor: pointer;
    display: block
}

h3 .links {
    font-style: normal;
    line-height: 1.6;
    cursor: pointer;
}

container {
    display: block;
}

.ach-ver select {
    width: 100px;
    padding: 6px;
    font-size: 16px;
    text-align: center;
}

.content {
    padding: 20px 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    min-height: 600px;
}

popdialog {
    height: 100%;
}

popheader {
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}

popbody {
    max-height: calc(100% - 40px) !important
}

.scroller {
    overflow-x: hidden !important;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.main-table th,
tr {
    white-space: wrap;
    line-height: 25px;
    font-size: 14px;
}

.main-table td {
    height: 50px
}

.main-table th {
    padding: 5px
}

.main-table td {
    padding: 5px
}

.weapon-table {
    table-layout: fixed;
    width: calc(100% + 20px);
    min-width: 560px;
    margin-left: -10px;
    margin-right: -10px;
}

.weapon-table td {
    padding: 0px 8px;
    text-wrap: wrap;
    font-size: 13px;
    line-height: 25px;
}

.weapon-table th {
    padding: 0px 5px;
    font-size: 13px;
    line-height: 25px;
}

.ach-ver {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

schedule {
    display: block;
    width: calc((100% - 50px) / 5);
    text-align: center;
    padding: 10px 0px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

schedule.active {
    background-color: rgb(37, 69, 186);
    color: #fff;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.weapon-head tr :nth-child(1) {
    width: 10%
}

.weapon-head tr :nth-child(2) {
    width: 60%
}

.weapon-head tr :nth-child(3) {
    width: 10%
}

.weapon-head tr :nth-child(4) {
    width: 10%
}

.weapon-head tr :nth-child(5) {
    width: 10%
}

.weapon-table td {
    padding: 10px;
    font-size: 14px
}

.jade {
    max-height: 24px;
    margin-right: 1px;
    width: auto!important;
    height: auto;
    position: relative;
    bottom: -6px;
}

@media screen and (min-width: 800px) {

    .main-table th,
    tr {
        white-space: nowrap;
        line-height: 32px;
        font-size: 18px;
    }

    .main-table td {
        height: 70px
    }

    .main-table th {
        padding: 5px
    }

    .main-table td {
        padding: 5px
    }

    schedule {
        width: calc((100% - 50px) / 7);
    }

    .weapon-table td {
        padding: 10px;
        font-size: 15px
    }
}