::-webkit-scrollbar:horizontal {
    display: none;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #aaaaaa00;
    border-radius: 4px;
}

schedule {
    font-size: 14px;
}

.content {
    padding-bottom: 50px;
}

.blessing_card_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.curio {
    border-radius: 5px;
    padding: 18px;
    margin-top: 21px;
    width: calc(100% - 80px);
    line-height: 2;
    background-color: #000000;
    color: #dddddd;
    position: relative;
}

.icon {
    height: 90px;
    margin: auto;
    display: block;
    margin-top: 15px;
}

.name {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.desc {
    font-size: 13px;
}

.info {
    position: absolute;
    top: 0px;
    left: 12px;
    font-size: 25px;
    cursor: pointer;
}

.ml {
    position: absolute;
    top: -9px;
    right: 12px;
    font-size: 32px;
    cursor: pointer;
}

.infou {
    cursor: pointer;
}

.path schedule {
    background-color: #27363e00;
    width: 60px;
    border-radius: 9px;
    border-width: 0px;
    display: flex;
    justify-content: center;
}

.path schedule.active {
    background-color: #ff719a;
}

.path img {
    width: 40px;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    schedule {
        font-size: 15px;
    }
    .icon {
        height: 105px;
    }
    .curio {
        width: calc((100% - 140px) / 2);
    }
    .name {
        font-size: 18px;
    }
    .desc {
        font-size: 14px;
    }
}

@media screen and (min-width: 900px) {
    schedule {
        font-size: 16px;
    }
    .icon {
        height: 120px;
    }
    .curio {
        width: calc((100% - 200px) / 3);
    }
    .name {
        font-size: 19px;
    }
    .desc {
        font-size: 15px;
    }
}