header {
    display: none;
}

.title {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nosel, .blessing_card_area span {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rel {
    cursor: pointer;
    margin-left: 5px;
}

h3 {
    margin: 0px auto 10px;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);
}

h3 span {
    position: relative;
}

h3 span {
    color: #fff;
}

h3 .subtitle {
    padding: 10px;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-style: normal;
    margin-bottom: -20px;
}

h3 a {
    color: #df903b;
}

h3 .tlsub {
    margin-bottom: 15px;
    font-style: normal;
    cursor: pointer;
    display: block;
}

h3 .links {
    font-style: normal;
    line-height: 1.6;
    cursor: pointer;
}

container {
    display: block;
}

.content {
    padding-top: 15px;
    padding-bottom: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    min-height: 600px;
}

popheader {
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}

schedule {
    display: block;
    width: calc((100% / 3) - 10px);
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
.sch {
    font-size: 14px;
}
.sch_2 {
    font-size: 19px;
}

schedule.active {
    background-color: rgb(37, 69, 186);
    color: #fff;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 15px;
}

.blessing_card_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0px;
    margin-bottom: 40px;
}

.blessing_card_area_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    background-color: #27363e;
    border-radius: 5px;
    margin: 4px 0px;
    padding: 10px 15px 20px;
    color: #eeeeee;
    width: calc(100% - 16px);
}

.card_2 {
    margin: 4px 0px;
    border-radius: 5px;
    padding: 0px 15px 20px;
    width: calc(100% - 16px);
    color: #eeeeee;
    background-color: #27363e;
}

.card_3 {
    border-radius: 5px;
    margin: 5px 0px;
    padding: 10px 0px;
    color: #eeeeee;
    width: calc(100%);
}
.card_4 {
    border-radius: 5px;
    margin: 5px 0px;
    padding: 10px 0px;
    color: #eeeeee;
    width: calc(100%);
}
.card_flex {
    border-radius: 5px;
    margin: 0px 10px;
    padding: 10px 0px;
    color: #eeeeee;
    width: max-content;
}

.card_6 {
    background-color: #27363e;
    border-radius: 5px;
    margin: 4px 0px;
    padding: 20px 10px 10px;
    color: #eeeeee;
    width: calc((100% - 24px) / 2);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.active_g {
    color: #f39001;
}

.card_5 {
    background-color: #27363e;
    border-radius: 5px;
    margin: 4px 0px;
    padding: 20px 10px 10px;
    color: #eeeeee;
    width: calc((100% - 24px) / 2);
}
.tip_5 {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.name {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.name_2 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.desc {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 1.7;
}
.desc_hp {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 1.7;
}
.image {
    width: calc(100%);
    margin: 0px 0px 10px 0px;
}
.tip_ {
    font-size: 14px;
    color: #eeeeee;
}
.tip_2 {
    font-size: 14px;
}
.tip_3 {
    font-size: 13px;
}
.v_l, .f_l {
    margin-right: 8px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.v_r, .f_r {
    margin-left: 8px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.minion {
    width: 100%;
}

.minion_hp {
    font-size: 12px;
    text-align: center;
    margin: 0;
    text-decoration: none;
    color: rgb(221, 221, 221);
}

.minion_wrapper {
    width: 40px;
    margin: 5px 5px;
    height: min-content;
}

.rotate_child {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.mon_desc {
    font-size: 13px;
    margin: 10px 8px 0;
    line-height: 2;
}

.item_wrap {
    font-weight: bold;
    width: 40px;
    margin: 0px 4px;
    text-align: center;
}

.item_wrap img {
    width: 100%;
}

.mons_place {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 20px;
}

.mon_sing {
    width: 100%;
    padding: 20px 10px;
    margin-top: 5px;
}

.mon_buff {
    font-size: 12px;
    margin: 8px 0;
    line-height: 1.7;
}

.mon_buff_bigger {
    font-size: 13px;
    margin: 8px 0;
    line-height: 1.7;
}

.mon_head {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.mon_head div, .wrap {
    width: 60px;
}
.wrap {
    height: 60px;
}
.warp img {
    height: 100%;
}

.mon_head div img, .wrap img {
    width: 100%;
}

.mon_name {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.elem {
    width: 35px;
    margin: 0 3px;
}

.mon_buffs {
    margin-top: 25px;
}

.plus, .minus {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (min-width: 500px) and (max-width: 800px) {

    .item_wrap {
        width: 50px;
        margin: 0px 7px;
    }

    .card_5 {
        width: calc((100% - 32px) / 3)
    }
    .card_6 {
        width: calc((100% - 32px) / 3)
    }

    .mon_desc {
        font-size: 14px;
    }

    .minion_hp {
        font-size: 13px;
    }
    .minion_wrapper {
        width: 48px;
    }
    .sch {
        font-size: 15px;
    }
    .sch_2 {
        font-size: 21px;
    }
    .name {
        font-size: 19px;
    }
    .name_2 {
        font-size: 17px;
    }
    .desc {
        font-size: 15px;
    }
    .desc_hp {
        font-size: 20px;
    }
    .card {
        width: calc(100% - 16px);
        padding: 10px 18px 20px;
    }
    .card_2 {
        padding: 0px 18px 20px;
    }
    .card_3 {
        width: calc(50%);
    }
    .card_4 {
        width: calc(50%);
    }
    .tip_5 {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
    .image {
        width: calc(100% - 20px);
        margin: 10px;
    }
    .tip_ {
        font-size: 15px;
    }
    .tip_2 {
        font-size: 15px;
    }
    .tip_3 {
        font-size: 14px;
    }
    schedule {
        width: calc((100% / 3) - 10px);
    }
}

@media screen and (min-width: 800px) {
    .item_wrap {
        width: 60px;
        margin: 0px 10px;
    }

    .card_5 {
        width: calc((100% - 40px) / 4)
    }
    .card_6 {
        width: calc((100% - 48px) / 6)
    }

    .mon_desc {
        font-size: 15px;
    }

    .minion_hp {
        font-size: 14px;
    }
    .minion_wrapper {
        width: 56px;
    }
    .sch {
        font-size: 16px;
    }
    .sch_2 {
        font-size: 24px;
    }
    .name {
        font-size: 20px;
    }
    .name_2 {
        font-size: 18px;
    }
    .desc {
        font-size: 16px;
    }
    .desc_hp {
        font-size: 21px;
    }
    .card {
        width: calc(50% - 12px);
        padding: 10px 20px 20px;
    }
    .card_2 {
        padding: 0px 20px 20px;
    }
    .image {
        width: calc(100% - 20px);
        margin: 10px;
    }
    .card_3 {
        width: calc(33%);
    }
    .card_4 {
        width: calc(50%);
    }
    .tip_5 {
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
    .tip_ {
        font-size: 16px;
    }
    .tip_2 {
        font-size: 15px;
    }
    .tip_3 {
        font-size: 15px;
    }
    schedule {
        width: calc((100% / 6) - 10px);
    }
}

@media screen and (min-width: 550px) and (max-width: 1000px) {

    .elem {
        width: 35px;
    }

    .mon_name {
        font-size: 16px;
    }

    .mon_head div, .wrap {
        width: 80px;
    }
    .wrap {
        height: 80px;
    }

    .mon_buff {
        font-size: 13px;
    }

    .mon_buff_bigger {
        font-size: 14px;
    }

}

@media screen and (min-width: 1000px) {

    .elem {
        width: 35px;
    }

    .mon_name {
        font-size: 17px;
    }

    .mon_head div, .wrap {
        width: 100px;
    }
    .wrap {
        height: 100px;
    }

    .mon_sing {
        width: calc(100% / 3);
        padding: 20px 15px;
        margin-top: 5px;
        border-top: none;
    }

    .mon_buff {
        font-size: 14px;
    }

    .mon_buff_bigger {
        font-size: 15px;
    }

}