schedule {
    width: calc((100% - 50px) / 4);
}

popbody .panel {
    padding: 0;
    margin: 0;
}

.countdown {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: -2px;
    margin-bottom: 13px;
}

.countdown_small {
    font-size: 16px;
    text-align: center;
    margin-top: -2px;
    margin-bottom: 13px;
}

em {
    font-style: normal;
}

.about {
    margin-bottom: 6px;
    line-height: 2;
    font-size: 16px;
    padding: 8px 23px;
    text-align: center;
}

.about_2 {
    margin-top: 6px;
    line-height: 1.6;
    font-size: 16px;
    padding: 8px 23px;
    text-align: center;
}

.about_2 a {
    color: #ffbfd3;
}

a.translate_ {
    color: #df903b;
}

.didyouknow {
    background-color: #27363E;
    border-radius: 10px;
    margin: 30px;
    padding: 20px;
    cursor: pointer;
    color: #eeeeee;
    line-height: 2;
}

.didyouknow_header {
    text-align: center;
    font-weight: bold;
    font-size: 19px;
}

.didyouknow_text {
    text-align: center;
    font-size: 16px;
}

.below {
    padding-top: 6px;
    margin-top: 0px;
    padding-bottom: 30px;
    margin-left: -1px;
    background-color: #aaaaaa00;
}

.dir_wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.home_select {
    margin: 8px;
}

.dir {
    background-color: #27363e00;
    border-radius: 10px;
    margin: 4px 0px;
    padding: 20px;
    cursor: pointer;
    color: #eeeeee;
    line-height: 2;
    width: calc(100% - 56px);
}

.dir_head {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

.dir_link {
    font-size: 17px;
    text-align: center;
}

.dir_body {
    display: none;
    margin-top: 8px;
}

.monster_card_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.monster_card {
    display: block;
    width: min-content;
}

::-webkit-scrollbar {
    display: none
}

.d1 a, .d2 a{
    color: #000;
}

.d1, .d2 {
    margin: -8px 0px 0px;
    border-bottom: 1px solid black;
    padding: 0 0 8px;
    margin-left: -1px;
}

.d1 section, .d2 section {
    margin: 0;
    padding: 0;
}

.n1, .n2 {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 8px 4px 8px 2px;
    overflow-x: scroll;
    width: calc(100% - 7px);
}

.new_block {
    background-color: #27363e00;
    border-radius: 6px;
    cursor: pointer;
    color: #eeeeee;
    margin: 2px 4px;
    padding: 10px 2px 2px;
    flex: 0 0 calc((100vw - 100px) / 3);
}

.new_image_wrapper_1 {
    height: 55px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 8px;
}

.new_image_wrapper_2 {
    margin-top: 5px;
    height: 65px;
    display: flex;
    justify-content: center;
}

.new_image_wrapper_1 img {
    height: 100%;
}

.new_image_wrapper_2 img {
    height: 100%;
}

.new_text {
    text-align: center;
    font-weight: bold;
    margin: 3px 8px 8px;
    font-size: 13px;
    line-height: 1.5;
}

.content .panel {
    font-size: 13px;
    margin: 8px 4px;
    padding: 10px 12px;
}

.new_attr {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 2px;
}

.attr_img_1 {
    margin: 0px;
    width: 30px;
}

.attr_img_2 {
    margin: 4px 2px;
    width: 26px;
}

.futd {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: -2px;
    margin-bottom: 10px;
}

.futds {
    background-color: #27363e00;
    border-radius: 6px;
    cursor: pointer;
    color: #eeeeee;
    padding: 10px 2px 2px;
    margin-top: 6px;
    flex: 0 0 calc(100vw - 16px);
}

.dir_subhead {
    text-align: center;
    font-size: 16px;
}

.ctable {
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.7;
}

.age {
    display: flex;
    justify-content: center;
    margin: 0 10px 15px;
}

.age_sub_1 img {
    width: 100%;
    height: 100%;
}

.age_sub_1 {
    width: 60px;
    height: 60px;
}

.age_sub_2 p {
    text-align: center;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.age_sub_2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 600px) {

    .futds {
        margin-top: 8px;
        flex: 0 0 calc((100vw - 24px) / 2 - 4px);
    }
    
}

@media screen and (min-width: 600px) and (max-width: 800px) {

    .ctable {
        font-size: 15px;
    }

    .dir_subhead {
        font-size: 17px;
    }

    .new_attr {
        margin-top: 9px;
        margin-bottom: 4px;
    }

    .attr_img_1 {
        width: 32px;
    }
    .attr_img_2 {
        width: 28px;
    }

    .content .panel {
        font-size: 15px;
        margin: 8px 6px;
        padding: 10px 12px;
    }

    .new_block {
        padding: 12px 4px 4px;
        min-width: 0;
        flex: 0 0 calc((100vw - 100px) / 4);
    }

    .new_image_wrapper_1 {
        height: 62px;
    }
    
    .new_image_wrapper_2 {
        height: 84px;
    }
    .new_text {
        font-size: 14px;
    }
    .dir {
        margin: 5px 0px;
        width: calc(50% - 55px);
    }
    .dir_head {
        font-size: 22px;
    }
    .dir_link {
        font-size: 17px;
    }
    .dir_body {
        font-size: 15px;
        display: block;
    }
    .about, .about_2 {
        font-size: 17px;
    }
    .didyouknow_text {
        font-size: 16px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {

    .ctable {
        font-size: 16px;
    }

    .dir_subhead {
        font-size: 18px;
    }

    .new_attr {
        margin-top: 9px;
        margin-bottom: 4px;
    }

    .attr_img_1 {
        width: 34px;
    }
    .attr_img_2 {
        width: 30px;
    }

    .content .panel {
        font-size: 16px;
        margin: 8px 8px;
        padding: 10px 15px;
    }

    .new_block {
        padding: 14px 6px 6px;
        min-width: 0;
        flex: 0 0 calc((100vw - 147px) / 6);
    }

    .new_image_wrapper_1 {
        height: 69px;
    }
    
    .new_image_wrapper_2 {
        height: 103px;
    }
    .new_text {
        font-size: 15px;
    }
    .dir {
        margin: 5px 0px;
        width: calc(100% / 3 - 54px);
    }
    .dir_head {
        font-size: 22px;
    }
    .dir_link {
        font-size: 17px;
    }
    .dir_body {
        font-size: 15px;
        display: block;
    }
    .about, .about_2 {
        font-size: 18px;
    }
    .didyouknow_text {
        font-size: 17px;
    }
}

@media screen and (min-width: 1000px) {

    .ctable {
        font-size: 16px;
    }

    .dir_subhead {
        font-size: 18px;
    }

    .new_attr {
        margin-top: 11px;
        margin-bottom: 6px;
    }

    .attr_img_1 {
        width: 36px;
    }
    .attr_img_2 {
        width: 32px;
    }

    .content .panel {
        font-size: 16px;
        margin: 8px 8px;
        padding: 10px 15px;
    }

    .new_block {
        padding: 16px 8px 8px;
        min-width: 0;
        flex: 0 0 calc((100vw - 147px) / 6);
    }

    .new_image_wrapper_1 {
        height: 76px;
    }
    
    .new_image_wrapper_2 {
        height: 122px;
    }
    .new_text {
        font-size: 16px;
    }
    .dir {
        margin: 5px 0px;
        width: calc(100% / 3 - 54px);
    }
    .dir_head {
        font-size: 22px;
    }
    .dir_link {
        font-size: 17px;
    }
    .dir_body {
        font-size: 16px;
        display: block;
    }
    .about, .about_2 {
        font-size: 18px;
    }
    .didyouknow_text {
        font-size: 17px;
    }
}