* {
    margin: 0;
}

header {
    display: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
}

container {
    display: block;
}

.content {
    padding: 15px 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    min-height: 600px;
}

popheader {
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}

popbody {
    overflow-y: scroll;
    padding: 0 8px;
    max-height: calc(100vh - 120px) !important
}

popdialog {
    max-height: 100%;
}

.mon_body {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 3px;
}

.area_2 {
    padding: 15px 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    min-height: 600px;
    display: block;
}
divv div {
    margin-top: 15px;
    margin-bottom: 15px;
}
#back_2 {
    margin: 0;
    cursor: pointer;
    background-color: white;
    position: absolute;
    width: calc(100%);
    top: 0;
    left: 0;
    padding: 6px 0;
    z-index: 114514;
    display: none;
    color: red;
}
#back_2 closeicon {
    position: absolute;
    right: 10px;
    font-size: 24px;
}
#back_1 {
    margin-top: -6px;
    padding-top: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: white;
    color: red;
}

#back_2:hover {
    color: black;
}
#back_1:hover {
    color: black;
}

popbody::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.scroller {
    overflow-x: hidden !important;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #aaaaaa;
    border-radius: 4px;
}

schedule {
    display: block;
    width: calc((100% - 50px) / 5);
    text-align: center;
    padding: 10px 0px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.a_w_r {
    margin-top: 0;
}

.a_w_r schedule {
    background-color: #27363e;
    width: 60px;
    border-radius: 9px;
    border-width: 0px;
    display: flex;
    justify-content: center;
}

.a_w_r schedule.active {
    background-color: #2545ba;
}

.a_w_r img {
    width: 40px;
}

.area {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.rar schedule {
    min-width: 60px;
    font-size: 14px;
    width: calc((100% - 60px) / 6)
}

.item-card {
    border-radius: 5px;
    margin: 9px 0;
    line-height: 2;
    background-color: #27363E;
    color: #eeeeee;
    position: relative;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.item-icon {
    max-height: 60px;
    max-width: 60px;
    margin: auto;
}
.recipe-icon {
    max-height: 50px;
    max-width: 50px;
    margin: auto 3px;
    position: relative;
    cursor: pointer;
}
.recipe-icon img {
    width: 100%;
    height: 100%;
}

.item-name {
    font-size: 12px;
    white-space: pre;
    margin: 6px;
}

.item-up {
    width: 100%;
    padding: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-down {
    width: 100%;
    background-color: #27363E;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: auto;
    overflow-x: scroll;
}

.item-down::-webkit-scrollbar {
    display: none;
}

.a_section {
    background-color: #27363E;
    color: #eeeeee;
    border-radius: 5px;
    padding: 0 12px;
    margin: 3px 0;
    width: calc(100% - 12px);
}

.name {
    text-align: center;
    font-weight: bold;
    margin: 15px auto;
    font-size: 16px;
}

.icon {
    height: 120px;
    margin: auto;
    display: block;
}

.icon2 {
    height: 200px;
    margin: auto;
    display: block;
}

.desc {
    font-size: 14px;
    margin-top: 11px;
    line-height: 2;
}

.center_div {
    display: flex;
    justify-content: center;
}

.monicon_num {
    position: absolute;
    top: -3px;
    right: 0px;
    z-index: 1000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Arial';
}

.buff-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 3px;
    right: 3px;
}

@media screen and (min-width: 500px) and (max-width: 800px) {

    .a_section {
        margin: 3.5px 0;
        width: calc(100% - 14px);
    }
    popbody {
        padding: 0 10px;
    }
    .rar schedule {
        font-size: 15px;
    }
    .item-icon {
        max-height: 75px;
        max-width: 75px;
    }
    .recipe-icon {
        max-height: 62px;
        max-width: 62px;
    }
    
    .item-name {
        font-size: 13px;
        margin: 7px;
    }
    .icon {
        height: 140px;
    }
    .icon {
        height: 240px;
    }
    .desc {
        font-size: 15px;
    }
    .name {
        font-size: 17px;
    }
    .monicon_num {
        top: -2px;
        right: 0px;
        height: 21px;
        width: 21px;
        line-height: 21px;
        font-size: 14px;
    }
}

@media screen and (min-width: 800px) {

    .a_section {
        margin: 4px 0;
        width: calc(100% - 16px);
    }
    popbody {
        padding: 0 12px;
    }
    .rar schedule {
        font-size: 16px;
    }
    .item-icon {
        max-height: 90px;
        max-width: 90px;
    }
    .recipe-icon {
        max-height: 75px;
        max-width: 75px;
    }
    
    .item-name {
        font-size: 14px;
        margin: 8px;
    }
    .icon {
        height: 160px;
    }
    .icon {
        height: 280px;
    }
    .desc {
        font-size: 16px;
    }
    .name {
        font-size: 18px;
    }
    .monicon_num {
        top: -2px;
        right: 0px;
        height: 21px;
        width: 21px;
        line-height: 21px;
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .item-card {
        width: calc(100% / 3 - 12px)
    }
}

@media screen and (min-width: 400px) and (max-width: 540px) {
    .item-card {
        width: calc(100% / 4 - 12px)
    }
}

@media screen and (min-width: 540px) and (max-width: 680px) {
    .item-card {
        width: calc(100% / 5 - 12px)
    }
}

@media screen and (min-width: 680px) and (max-width: 820px) {
    .item-card {
        width: calc(100% / 6 - 12px)
    }
}

@media screen and (min-width: 820px) and (max-width: 960px) {
    .item-card {
        width: calc(100% / 7 - 12px)
    }
}

@media screen and (min-width: 960px) and (max-width: 1100px) {
    .item-card {
        width: calc(100% / 8 - 12px)
    }
}

@media screen and (min-width: 1100px) {
    .item-card {
        width: calc(100% / 9 - 12px)
    }
}