header {
    display: none;
}

h3 {
    margin: 0px auto 10px;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

h3 span {
    position: relative;
}

h3 span {
    color: #fff;
}

h3 .subtitle {
    padding: 10px;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-style: normal;
    margin-bottom: -20px;
}

h3 a {
    color: #df903b;
}

h3 .tlsub {
    margin-bottom: 15px;
    font-style: normal;
    cursor: pointer;
    display: block;
}

h3 .links {
    font-style: normal;
    line-height: 1.6;
    cursor: pointer;
}

container {
    display: block;
}

.content {
    padding-top: 15px;
    padding-bottom: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    min-height: 600px;
}

popheader {
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}

.path schedule {
    background-color: #27363e;
    width: 80px;
    border-radius: 9px;
    border-width: 0px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.path schedule.active {
    background-color: #2545ba;
}

.path img {
    width: 60px;
}

schedule.active {
    background-color: rgb(37, 69, 186);
    color: #fff;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 15px;
}

.blessing_card_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    background-color: #27363e;
    border-radius: 5px;
    margin: 3px 0px;
    padding: 10px;
    color: #eeeeee;
    width: calc(100% - 12px);
}

.name {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.desc {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    line-height: 2;
    font-weight: bold;
}
.image {
    width: calc(100%);
    margin: 0px 0px 10px 0px;
}
.phases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.icon img {
    height: 100%;
    width: 100%;
}
.icon_4 {
    height: 40px;
    width: 40px;
}
.icon_5 {
    height: 48px;
    width: 48px;
}
.num {
    position: absolute;
    color: #eeeeee;
    top: -7px;
    right: 0px;
    font-weight: bold;
    padding: 1px 2px;
    border-radius: 2px;
    background-color: #27363e;
    z-index: 1000;
}
.pic {
    position: relative;
    margin: 4px;
}
.pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.sch_2 {
    font-size: 19px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
}
.num_4 {
    font-size: 11px;
}
.num_5 {
    font-size: 12px;
}
.avd {
    font-size: 13px;
}
.search .num {
    background-color: #fff;
    color: #000;
}
.search {
    margin-bottom: 10px;
}

.input_wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.but {
    height: 40px;
    padding: 5px 10px;
    color: #fff;
    background-color: #27363e;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #27363e;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#INPUT {
    width: 150px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid;
}

.but span {
    font-weight: normal;
    margin: 0;
}

::-webkit-scrollbar:horizontal {
    display: none;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #aaaaaa;
    border-radius: 4px;
}

.content {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
}

.title {
    color: #fff;
    cursor: pointer;
}

.top_wrap {
    color: #eeeeee;
    text-decoration: none;
}

.ver_text, .boss_img_wrap, .elem_img_wrap {
    width: 100%;
    text-align: center;
}

.toggle {
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 27px;
    text-align: center;
    margin: 3px 0;
}

.path schedule {
    background-color: #27363e;
    width: 80px;
    border-radius: 9px;
    border-width: 0px;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.path schedule.active {
    background-color: #2545ba;
}

.path img {
    width: 60px;
}

schedule.active {
    background-color: rgb(37, 69, 186);
    color: #fff;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 15px;
}

.blessing_card_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.name {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.desc {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    line-height: 2;
    font-weight: bold;
}
.image {
    width: calc(100%);
    margin: 0px 0px 10px 0px;
}
.phases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.icon img {
    width: 100%;
}
.icon_4 {
    width: 40px;
}
.icon_5 {
    width: 48px;
}
.num {
    position: absolute;
    color: #eeeeee;
    top: -7px;
    right: -3px;
    font-weight: bold;
    padding: 1px 2px;
    border-radius: 2px;
    background-color: #27363e;
    z-index: 1000;
}
.pic {
    position: relative;
    margin: 4px;
}
.pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.num_4 {
    font-size: 11px;
}
.num_5 {
    font-size: 12px;
}
.avd {
    font-size: 13px;
}
.search .num {
    background-color: #fff;
    color: #000;
}
.search {
    margin-bottom: 10px;
}

.input_wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.but {
    height: 27px;
    padding: 5px 10px;
    color: #fff;
    background-color: #27363e;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #27363e;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#INPUT {
    width: 130px;
    height: 27px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid;
}

.but span {
    font-weight: normal;
    margin: 0;
}

.boss_img_wrap {
    margin-bottom: 6px;
}

.boss_img {
    height: 55px;
}

.ver_text {
    font-weight: bold;
    font-size: 15px;
}

.table_wrap {
    width: 100%;
    overflow-x: scroll;
}

.table_wrap::-webkit-scrollbar {
    display: none;
}

.table {
    width: 100%;
    min-width: 400px;
    table-layout: fixed;
    font-size: 12px;
}

td, th {
    padding: 10px 0;
}

.avatar_img {
    width: 25%;
    max-width: 90px;
    padding: 0px 2px;
}

.avatar_img_wrap {
    display: flex;
    justify-content: center;
    height: 100%;
}

.boss_hp {
    text-align: center;
    font-weight: bold;
    color: #FFD780;
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .num_4 {
        font-size: 12px;
    }
    .num_5 {
        font-size: 13px;
    }
    .avd {
        font-size: 14px;
    }
    .pic {
        margin: 6px;
    }
    .sch_2 {
        font-size: 21px;
    }
    .icon_4 {
        height: 50px;
        width: 50px;
    }
    .icon_5 {
        height: 64px;
        width: 64px;
    }
    .name {
        font-size: 19px;
    }
    .desc {
        font-size: 15px;
    }
    .image {
        width: calc(100% - 20px);
        margin: 10px;
    }
    .avatar_img {
        padding: 0px 4px;
    }

    .table {
        font-size: 14px;
    }

    .boss_img {
        height: 68px;
    }

    .ver_text {
        font-size: 16px;
    }
    .num_4 {
        font-size: 12px;
    }
    .num_5 {
        font-size: 13px;
    }
    .avd {
        font-size: 14px;
    }
    .pic {
        margin: 6px;
    }
    .sch_2 {
        font-size: 21px;
    }
    .icon_4 {
        width: 50px;
    }
    .icon_5 {
        width: 64px;
    }
    .name {
        font-size: 19px;
    }
    .desc {
        font-size: 15px;
    }
    .image {
        width: calc(100% - 20px);
        margin: 10px;
    }
}

@media screen and (min-width: 800px) {
    .num_4 {
        font-size: 13px;
    }
    .num_5 {
        font-size: 14px;
    }
    .avd {
        font-size: 15px;
    }
    .pic {
        margin: 8px;
    }
    .sch_2 {
        font-size: 24px;
    }
    .icon_4 {
        height: 64px;
        width: 64px;
    }
    .icon_5 {
        height: 80px;
        width: 80px;
    }
    .name {
        font-size: 20px;
    }
    .desc {
        font-size: 16px;
    }
    .image {
        width: calc(100% - 20px);
        margin: 10px;
    }
    .avatar_img {
        padding: 0px 6px;
    }

    .table {
        font-size: 16px;
    }

    .ver_text {
        font-size: 17px;
    }

    .boss_img {
        height: 80px;
    }
    .num_4 {
        font-size: 13px;
    }
    .num_5 {
        font-size: 14px;
    }
    .avd {
        font-size: 15px;
    }
    .pic {
        margin: 8px;
    }
    .sch_2 {
        font-size: 24px;
    }
    .icon_4 {
        width: 64px;
    }
    .icon_5 {
        width: 80px;
    }
    .name {
        font-size: 20px;
    }
    .desc {
        font-size: 16px;
    }
    .image {
        width: calc(100% - 20px);
        margin: 10px;
    }
}