header {
    display: none;
}

h3 {
    margin: 0px auto 10px;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);
}

h3 span {
    position: relative;
}

h3 span {
    color: #fff;
}

.showtop {
    font-size: 38px;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%;
}

.load-ver-select {
    width: 100px;
    padding: 6px;
    font-size: 16px;
    text-align: center;
}

h3 .subtitle {
    padding: 10px;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-style: normal;
    margin-bottom: -20px;
}

h3 a {
    color: #df903b;
}

h3 .tlsub {
    margin-bottom: 15px;
    font-style: normal;
    cursor: pointer;
    display: block;
}

h3 .links {
    font-style: normal;
    line-height: 1.6;
    cursor: pointer;
}

container {
    display: block;
}

.content {
    padding: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    min-height: 600px;
}

popdialog {
    height: 90%;
}

popheader {
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}

popbody {
    max-height: calc(100% - 40px) !important
}

.scroller {
    overflow-x: hidden !important;
}

.ach-table {
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
}

.main-table {
    max-width: 100%;
}

.main-table th,
tr {
    white-space: wrap;
    line-height: 26px;
    font-size: 14px;
}

.main-table td {
    height: 50px
}

.main-table th,
.main-table td {
    padding: 12px 12px
}

.load-ver,
.load-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.load-group {
    margin-left: -20px;
    width: calc(100% + 40px);
}

schedule {
    display: block;
    text-align: center;
    padding: 10px 0px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
}

.load-ver schedule {
    width: calc((100% - 50px) / 4);
}

.load-group schedule {
    width: calc((100% - 45px) / 3);
}

schedule.active {
    background-color: rgb(37, 69, 186);
    color: #fff;
}

@media screen and (min-width: 800px) {

    .main-table th,
    tr {
        white-space: wrap;
        line-height: 32px;
        font-size: 15px;
    }

    .main-table td {
        height: 70px
    }

    .main-table th,
    .main-table td {
        padding: 10px 20px
    }

    .load-ver schedule {
        width: calc((100% - 50px) / 7);
        font-size: 16px;
    }

    .load-group schedule {
        width: calc((100% - 75px) / 5);
        font-size: 16px;
    }
}