::-webkit-scrollbar:horizontal {
    display: none;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #aaaaaa;
    border-radius: 4px;
}

.title {
    color: #fff;
    cursor: pointer;
}

popdialog {
    height: 100%;
}

.area_2 {
    padding: 15px 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    min-height: 600px;
    display: block;
}
divv div {
    margin-top: 15px;
    margin-bottom: 15px;
}
#back_2 {
    margin: 0;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    width: calc(100%);
    top: 0;
    left: 0;
    padding: 6px 0;
    z-index: 114514;
    display: none;
    color: red;
}
#back_2 closeicon {
    position: absolute;
    right: 10px;
    font-size: 24px;
}
#back_1 {
    margin-top: -6px;
    padding-top: 6px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    color: red;
}

#back_2:hover {
    color: black;
}
#back_1:hover {
    color: black;
}

.content schedule {
    width: calc((100% - 80px) / 2);
    font-size: 14px;
}

.mon_head schedule {
    font-size: 14px;
}

.skill_phase schedule {
    width: calc((100% - 120px) / 3);
    font-size: 14px;
}

.skill_phase {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 7px 0px;
    margin: 15px 0px;
}

.monicon {
    height: 45px;
    vertical-align: middle;
}

.monelem {
    vertical-align: middle;
    height: 22px;
    padding-right: 6px;
}

.monname {
    vertical-align: middle;
    padding-left: 6px;
    font-size: 14px;
    white-space: nowrap;
}

.monname_ {
    vertical-align: middle;
    padding-left: 4px;
    font-size: 14px;
    white-space: nowrap;
}

.monster_card_area {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px 24px 0px;
    justify-content: space-evenly;
}

.monster_card {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    height: 48px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: scroll;
}

.monster_card::-webkit-scrollbar {
    height: 0px;
    width: 0px;
}

.monright {
    line-height: 1.5;
    max-width: calc(100% - 65px);
}

.mon_head, .mon_head section {
    margin: 0px;
}

.mon_body, .mon_body_, .mon_csx {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.mon_body, .mon_body_ {
    margin-top: 0px;
}

.a_section, .a_section_small, .a_section_smallsmall, .a_section_small_1, .a_section_small_2, .a_section_small_3, .a_section_small_4 {
    width: calc(100% - 12px);
    display: inline-block;
    border-radius: 10px;
    background-color: #000000;
    color: #eeeeee00;
    margin: 3px 0;
}

.a_section_head, .a_section_head span {
    font-size: 17px;
    font-weight: bold;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 1.55;
}

.dmg_show {
    margin: 5px;
    font-size: 15px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.cts {
    margin: 5px;
    font-size: 15px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: rgb(37, 69, 186) 
}

.a_section_content {
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 30px;
    overflow-x: scroll;
    width: calc(100% - 30px);
}

.a_section_content span {
    font-size: 15px;
    line-height: 30px;
    margin-left: 0px;
}

.a_section_content input, select {
    width: 47%;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
    margin: auto;
}

.a_section_head input, select {
    width: 72px;
    height: 28px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 15px;
    margin: auto;
    text-align: center;
}

.a_section_small ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

.a_section ::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}

.DMG_input {
    padding: 15px;
}

.DMG_Tut {
    padding: 15px;
    max-width: 90%;
}

.DMG_input p {
    margin-top: 0px;
    text-align: center;
}

.DMG_input input, select {
    width: 100px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid;
    font-size: 16px;
    text-align: center;
}

.DMG_input button {
    height: 40px;
    width: 100px;
    color: #fff;
    background-color: rgb(37, 69, 186);
    font-size: 15px;
    border-radius: 0px;
    top: 12px;
    position: relative;
    cursor: pointer;
}

#INPUT {
    width: 150px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid;
}

.but {
    height: 30px;
    padding: 5px 10px;
    color: #fff;
    background-color: #000000;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input_wrap {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px;
}

.a_section_content td {
    line-height: 2.3;
}

.statpageicon {
    width: 22px;
    margin-right: 5px;
    position: relative;
    top: 4px;
}
.statpageicon_small {
    width: 22px;
    margin-right: 5px;
    position: relative;
    top: 5px;
}

.stat_card {
    margin: 6px 20px
}

.stat_num {
    font-weight: bold;
    color: #fff;
    padding-left: 0px;
}

.base_stat_input {
    display: flex;
    flex-wrap: wrap;
    padding-top: 11px;
    margin-top: 10px;
    margin-bottom: 0px;
    justify-content: center;
    border-top: 1px solid #eeeeee;
}

.base_stat_table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10px;
    padding-top: 8px;
}

.base_stat_lv, .base_stat_eg {
    height: 20px!important;
    width: 60px!important;
    font-size: 14px!important;
}

.base_stat_hlg {
    height: 30px;
    width: 80px;
    font-size: 13px;
    padding: 0px!important;
}

.input_hlg {
    font-size: 14px!important;
    height: 33px!important;
    width: 105px!important;
}

.basestat {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hd_0 {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #CC0000;
    margin: -10px 5px 0;
}

.up, .down {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #eeeeee;
    height: 26px;
    width: 30px;
    border-radius: 3px;
    margin: 4px 8px;
    cursor: pointer;
}

.up span, .down span {
    margin: 0
}

.avatar-card {
    border-radius: 5px;
    padding: 15px 14px 17px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: calc((100% - 24px) / 2 - 28px);
    line-height: 2;
    background-color: #000000;
    color: #eeeeee;
    position: relative;
    text-align: center;
    cursor: pointer;
}


.avatar-card p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.avatar-head {
    height: 180px;
    margin: auto;
    display: block;
    z-index: -1;
    max-width: 100%;
    object-fit: contain;
}

.avatar-staticon {
    height: 26px;
    width: 26px;
    position: relative;
    top: 8px;
}
.avatar-stat {
    font-size: 15px;
}
.avatar-name {
    font-size: 14px;
}

.weakness {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8px 0px;
}

.weakness_single {
    margin: 5px 5px;
}

.phase {
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 5px;
    font-weight: bold;
    /*color: #FFCC44;*/
}

.as_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0!important;
    width: 100%;
}

.as_left_2 {
    width: calc(min(25%, 110px));
    margin: 0!important;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.as_right_2 {
    display: flex;
    flex-direction: column;
    margin: 0 10px!important;
    padding: 0;
    justify-content: center;
}

.as_left_name {
    margin: 3px 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.as_left_name a {
    color: #ff719a;
}

.summon_icon {
    height: 90px;
}

.summon_name, .summon_elem, .summon_elem>.summon_elem_span {
    text-align: center;
    color: #eeeeee;
    font-weight: bold;
    font-size: 14px;
    margin: 0;
}

.summon_panel {
    margin: 10px 6px;
    padding: 0 8px;
}

.boss_desc {
    font-size: 14px;
}

.cl2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 10px 0;
}

.cl2 schedule {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#hp_mult {
    height: 24px;
    font-size: 14px;
    width: 40px;
}

.__pic {
    padding: 8px 16px;
}

@media screen and (min-width: 500px) and (max-width: 900px) {
    .base_stat_table {
        font-size: 15px;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {

    .__pic {
        padding: 9px 18px;
    }

    #hp_mult {
        height: 24px;
        font-size: 15px;
        width: 50px;
    }

    .boss_desc {
        font-size: 15px;
    }

    .summon_name, .summon_elem, .summon_elem>.summon_elem_span {
        font-size: 15px;
    }

    .summon_icon {
        height: 110px;
    }
    .as_left_name {
        font-size: 15px;
    }
    #back_2 {
        width: calc(100% - 10px);
    }
    .phase {
        font-size: 13px;
    }
    .weakness_single {
        margin: 5px 9px;
    }
    
    .avatar-name {
        font-size: 15px;
    }
    .avatar-head, .weapon-head {
        height: 210px;
    }
    .avatar-card {
        width: calc((100% - 32px) / 3 - 28px);
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .statpageicon {
        width: 26px;
        top: 6px;
    }
    .statpageicon_small {
        width: 25px;
        top: 6px;
    }
    .skill_phase schedule {
        width: calc((100% - 120px) / 3);
    }
    .mon_head schedule, .skill_phase schedule {
        font-size: 15px;
    }
    .a_section_content { font-size: 16px; }
    .a_section_content span { font-size: 16px; }
    .a_section_content input, select { font-size: 16px; }
    .dmg_show { font-size: 16px; }
    .a_section_head input, select { font-size: 16px; }
    .a_section_head, .a_section_head span { font-size: 19px; }
    .content schedule {
        width: calc((100% - 160px) / 4);
        font-size: 15px;
    }
    .monicon {
        height: 49px;
    }
    .monname {
        padding-left: 7px;
        font-size: 15px
    }
    .monname_ {
        padding-left: 5px;
        font-size: 15px
    }
    .monster_card {
        height: 52px;
    }
    .monright {
        max-width: calc(100% - 71px);
    }
    .a_section, .a_section_small, .a_section_smallsmall, .a_section_small_1, .a_section_small_2, .a_section_small_3, .a_section_small_4 {
        width: calc(100% - 14px);
        margin: 3.5px 0;
    }
}

@media screen and (min-width: 800px) {

    .__pic {
        padding: 10px 20px;
    }

    #hp_mult {
        height: 24px;
        font-size: 15px;
        width: 50px;
    }

    .boss_desc {
        font-size: 16px;
    }

    .summon_name, .summon_elem, .summon_elem>.summon_elem_span {
        font-size: 16px;
    }

    .summon_icon {
        height: 130px;
    }
    .as_left_name {
        font-size: 16px;
    }
    #back_2 {
        width: calc(100% - 10px);
    }
    .phase {
        font-size: 14px;
    }
    .weakness_single {
        margin: 5px 13px;
    }
    
    .avatar-name {
        font-size: 16px;
    }
    .avatar-staticon {
        height: 33px;
        width: 33px;
        top: 10px;
    }
    .avatar-stat {
        font-size: 17px;
    }
    .avatar-head, .weapon-head {
        height: 240px;
    }
    .statpageicon {
        width: 30px;
        top: 8px;
    }
    .statpageicon_small {
        width: 28px;
        top: 7px;
    }
    .skill_phase schedule {
        width: calc((100% - 180px) / 4);
    }
    .mon_head schedule, .skill_phase schedule {
        font-size: 16px;
    }
    .content schedule {
        width: calc((100% - 80px) / 6);
        font-size: 16px;
    }    
    .a_section_small {width: 46%;}
    .a_section_smallsmall {width: 30%;}
    .a_section_small_1 {width: 36%;}
    .a_section_small_2 {width: 56%;}
    .a_section_small_3 {width: 20%;}
    .a_section_small_4 {width: 40%;}
    .a_section_content { font-size: 17px; }
    .a_section_content span { font-size: 17px; }
    .a_section_content input, select { font-size: 17px; }
    .dmg_show { font-size: 17px; }
    .a_section_head input, select { font-size: 17px; }
    .a_section_head, .a_section_head span { font-size: 20px; }
    .monicon {
        height: 53px;
    }
    .monname {
        padding-left: 8px;
        font-size: 16px
    }
    .monname_ {
        padding-left: 6px;
        font-size: 16px
    }
    .monster_card {
        height: 56px;
    }
    .monright {
        max-width: calc(100% - 76px);
    }
    .a_section, .a_section_small, .a_section_smallsmall, .a_section_small_1, .a_section_small_2, .a_section_small_3, .a_section_small_4 {
        width: calc(100% - 16px);
        margin: 4px 0;
    }
}

@media screen and (min-width: 600px) {
    .stat_ {
        padding-left: 18px;
    }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
    .avatar-card {
        width: calc(25% - 40.5px);
        margin-top: 6px;
        margin-bottom: 4px;
    }
}

@media screen and (min-width: 1000px) {
    .avatar-card {
        width: calc(20% - 40px);
        margin-top: 6px;
        margin-bottom: 4px;
    }
}