header {
    display: none;
}

h3 {
    margin: 0px auto 10px;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    color: rgb(255, 255, 255);
}

h3 span {
    position: relative;
}

h3 span {
    color: #fff;
}

.showtop {
    font-size: 38px;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100%;
}

.load-ver-select {
    width: 100px;
    padding: 6px;
    font-size: 16px;
    text-align: center;
}

h3 .subtitle {
    padding: 10px;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-style: normal;
    margin-bottom: -20px;
}

h3 a {
    color: #df903b;
}

h3 .tlsub {
    margin-bottom: 15px;
    font-style: normal;
    cursor: pointer;
    display: block;
}

h3 .links {
    font-style: normal;
    line-height: 1.6;
    cursor: pointer;
}

container {
    display: block;
}

.content {
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    min-height: 600px;
}

popheader {
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
}

.content p {
    margin-block-start: 1em;
    margin-block-end: 1em;
}

#INPUT {
    width: 180px;
    height: 27px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid;
}

.but, .but_2 {
    height: 27px;
    padding: 5px 10px;
    color: #fff;
    background-color: #27363e00;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 6px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #27363e;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input_wrap {
    display: flex;
    justify-content: center;
}

.hits {
    text-align: center;
}

.result_single p {
    line-height: 1.6;
}

.result_single {
    border-top: 1px solid black;
    margin: 0px 6px;
    padding: 4px 6px;
    font-size: 14px;
}

.results {
    padding-bottom: 50px;
}

.ttl {
    font-size: 18px;
}

.pm {
    font-weight: bold;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.select {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.select schedule {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid black;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 13px;
}

.select schedule.active {
    background-color: rgb(37, 69, 186);
    color: white;
}

.content .pm_all {
    font-size: 37px;
    font-weight: bold;
    text-align: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    margin: -10px 0 10px;
    color: #cc0000;
}

.readable_title {
    font-size: 15px;
}

@media screen and (min-width: 500px) and (max-width: 800px) {

    .readable_title {
        font-size: 16px;
    }
    .select schedule {
        font-size: 14px;
        margin: 5px;
        padding: 8px;
    }
    .but, .but_2 {
        margin-left: 8px;
    }
    #INPUT {
        width: 220px;
    }
    .result_single {
        border-top: 1px solid black;
        margin: 0px 8px;
        padding: 6px 8px;
        font-size: 15px;
    }

    .ttl {
        font-size: 20px;
    }
}

@media screen and (min-width: 800px) {

    .readable_title {
        font-size: 17px;
    }
    .select schedule {
        font-size: 15px;
        margin: 6px;
        padding: 10px;
    }
    .but, .but_2 {
        margin-left: 10px;
    }
    #INPUT {
        width: 270px;
    }
    .result_single {
        border-top: 1px solid black;
        margin: 0px 10px;
        padding: 8px 10px;
        font-size: 16px;
    }
    .ttl {
        font-size: 22px;
    }
}