header {
    display: none;
}

container {
    display: block;
}

.content {
    padding-top: 15px;
    padding-bottom: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    min-height: 1000px;
}

popheader {
    height: 40px;
    line-height: 40px;
    background: #fff;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}

.path img {
    width: 60px;
}

.select {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

schedule {
    display: block;
    width: calc((100% / 2) - 10px);
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 0 5px;
    font-size: 14px;
}

.area_track_wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

schedule.active {
    background-color: rgb(37, 69, 186);
    color: #fff;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.area_track_wrap scheduled {
    border: 2px solid transparent;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 4px 0;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    color: #eee;
}

scheduled.active_2 {
    border: 2px solid #eee;
    color: #eee;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 15px;
}

.blessing_card_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3px;
}

.card {
    background-color: #27363e;
    border-radius: 5px;
    margin: 3px 0px;
    padding: 20px 10px 10px;
    color: #eeeeee;
    width: calc(100% - 12px);
}

.card_9 {
    background-color: #27363e;
    border-radius: 5px;
    margin: 3px 0px;
    padding: 15px 10px;
    color: #eeeeee;
    width: calc(100% - 12px);
}

.card_8 {
    background-color: #27363e;
    border-radius: 5px;
    margin: 3px 0px;
    padding: 15px 10px;
    color: #eeeeee;
    width: calc(100% - 12px);
}

.card_7 {
    background-color: #27363e;
    border-radius: 5px;
    margin: 3px 0px;
    padding: 15px 10px;
    color: #eeeeee;
    width: calc(100% - 12px);
}

.rule_title {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 3px;
    line-height: 1.7;
}

.rule_title_big {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 3px;
    line-height: 1.7;
}

.rule_text {
    text-align: center;
    font-size: 13px;
    margin-bottom: 3px;
    line-height: 1.7;
}

.name {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.desc {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    line-height: 2;
    font-weight: bold;
}
.image {
    width: calc(100%);
    margin: 0px 0px 10px 0px;
}
.phases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.icon img {
    height: 100%;
    width: 100%;
}
.icon_4 {
    height: 40px;
    width: 40px;
}
.icon_5 {
    height: 48px;
    width: 48px;
}
.num {
    position: absolute;
    color: #eeeeee;
    top: -7px;
    right: 0px;
    font-weight: bold;
    padding: 1px 2px;
    border-radius: 2px;
    background-color: #27363e;
    z-index: 1000;
}
.pic {
    position: relative;
    margin: 4px;
}
.pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.sch_2 {
    font-size: 19px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 9px;
}
.num_4 {
    font-size: 11px;
}
.num_5 {
    font-size: 12px;
}
.avd {
    font-size: 13px;
}
.search .num {
    background-color: #fff;
    color: #000;
}
.search {
    margin-bottom: 10px;
}

.input_wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.but {
    height: 40px;
    padding: 5px 10px;
    color: #fff;
    background-color: #27363e;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #27363e;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#INPUT {
    width: 150px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid;
}

.but span {
    font-weight: normal;
    margin: 0;
}

::-webkit-scrollbar:horizontal {
    display: none;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #aaaaaa;
    border-radius: 4px;
}

.content {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px;
}

.title {
    color: #fff;
    cursor: pointer;
}

.top_wrap {
    color: #eeeeee;
    text-decoration: none;
}

.ver_text, .boss_img_wrap, .elem_img_wrap {
    width: 100%;
    text-align: center;
}

.toggle {
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 27px;
    text-align: center;
    margin: 3px 0;
}

.path img {
    width: 60px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 15px;
}

.blessing_card_area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.name {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.desc {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    line-height: 2;
    font-weight: bold;
}
.image {
    width: calc(100%);
    margin: 0px 0px 10px 0px;
}
.phases {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.icon img {
    width: 100%;
}
.icon_4 {
    width: 40px;
}
.icon_5 {
    width: 48px;
}
.num {
    position: absolute;
    color: #eeeeee;
    top: -7px;
    right: -3px;
    font-weight: bold;
    padding: 1px 2px;
    border-radius: 2px;
    background-color: #27363e;
    z-index: 1000;
}
.pic {
    position: relative;
    margin: 4px;
}
.pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}
.num_4 {
    font-size: 11px;
}
.num_5 {
    font-size: 12px;
}
.search .num {
    background-color: #fff;
    color: #000;
}
.search {
    margin-bottom: 10px;
}

.input_wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.but {
    height: 27px;
    padding: 5px 10px;
    color: #fff;
    background-color: #27363e;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid;
    border-color: #27363e;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#INPUT {
    width: 130px;
    height: 27px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid;
}

.but span {
    font-weight: normal;
    margin: 0;
}

.boss_img_wrap {
    margin-bottom: 6px;
}

.boss_img {
    height: 55px;
}

.ver_text {
    font-weight: bold;
    font-size: 15px;
}

.table_wrap {
    width: 100%;
    overflow-x: scroll;
}

.table_wrap::-webkit-scrollbar {
    display: none;
}

.table {
    width: 100%;
    min-width: 400px;
    table-layout: fixed;
    font-size: 12px;
}

td, th {
    padding: 10px 0;
}

.avatar_img {
    width: 25%;
    max-width: 90px;
    padding: 0px 2px;
}

.avatar_img_wrap {
    display: flex;
    justify-content: center;
    height: 100%;
}

.boss_hp {
    text-align: center;
    font-weight: bold;
    color: #FFD780;
}

.item {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.item_left {
    width: calc(max(min(36%, 250px), 120px));
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item_right {
    width: calc(100% - max(min(36%, 250px), 120px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
}

.item_img {
    width: 100%;
    border-radius: 5px;
    aspect-ratio: 1.6;
}

.item_title {
    font-weight: bold;
    margin: 4px 0;
    font-size: 14px;
}

.item_date {
    margin: 4px 0;
    font-size: 12px;
}

.iframe_container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

iframe {
    width: 100%;
    aspect-ratio: 1.6;
}

.hd_0 {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 6px;
    color: #F29E38;
}

.td_score {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #F29E38;
}

.td_text {
    text-align: center;
    font-size: 13px;
}

.td_message {
    font-size: 14px;
    width: calc(100vw - 40px);
}

th.td_text {
    font-weight: bold;
}

.td_text a {
    color: #eee;
}

.area_record_table_wrap {
    width: 100%;
    overflow-x: scroll;
}

.area_record_table {
    width: 100%;
    min-width: 450px;
}

.role_wrap {
    display: flex;
    justify-content: center;
}

.role_single {
    width: 25%;
    max-width: 60px;
    min-width: 46px;
    padding: 0px 2px;
}

.role_single img {
    width: 100%;
}

th {
    white-space: nowrap;
}

.ref {
    position: absolute;
    z-index: 1000;
    font-size: 10px;
    top: -6px;
    right: 0px;
    font-weight: bold;
    color: #eee;
    background-color: #27363e;
    padding: 1px 3px;
    border-radius: 2px;
}

@media screen and (min-width: 500px) and (max-width: 800px) {

    .ref {
        font-size: 12px;
    }

    .td_score {
        font-size: 20px;
    }

    .td_text {
        font-size: 14px;
    }

    .td_message{
        font-size: 15px;
    }

    .card_9 {
        width: calc(50% - 8px);
    }
    .card_8 {
        width: calc(100% - 12px);
    }

    .rule_title {
        font-size: 16px;
    }

    .rule_title_big {
        font-size: 19px;
    }

    .rule_text {
        font-size: 14px;
    }
    schedule {
        width: calc((100% / 2) - 10px);
        font-size: 15px;
    }

    .item_left {
        padding: 15px;
    }
    .item_right {
        padding-right: 15px;
    }

    .item {
        width: 100%;
    }

    .item_title {
        font-size: 16px;
    }
    .item_date {
        font-size: 13px;
    }
    .num_4 {
        font-size: 12px;
    }
    .num_5 {
        font-size: 13px;
    }
    .avd {
        font-size: 14px;
    }
    .pic {
        margin: 6px;
    }
    .sch_2 {
        font-size: 21px;
    }
    .icon_4 {
        height: 50px;
        width: 50px;
    }
    .icon_5 {
        height: 64px;
        width: 64px;
    }
    .name {
        font-size: 19px;
    }
    .desc {
        font-size: 15px;
    }
    .image {
        width: calc(100% - 20px);
        margin: 10px;
    }
    .avatar_img {
        padding: 0px 4px;
    }

    .table {
        font-size: 14px;
    }

    .boss_img {
        height: 68px;
    }

    .ver_text {
        font-size: 16px;
    }
    .num_4 {
        font-size: 12px;
    }
    .num_5 {
        font-size: 13px;
    }
    .pic {
        margin: 6px;
    }
    .icon_4 {
        width: 50px;
    }
    .icon_5 {
        width: 64px;
    }
    .name {
        font-size: 19px;
    }
    .desc {
        font-size: 15px;
    }
    .image {
        width: calc(100% - 20px);
        margin: 10px;
    }
}

@media screen and (min-width: 800px) {

    .ref {
        font-size: 14px;
    }

    .td_score {
        font-size: 22px;
    }

    .td_text {
        font-size: 16px;
    }

    .td_message {
        font-size: 15px;
    }

    .card_9 {
        width: calc(calc(100% / 3) - 8px);
    }
    .card_8 {
        width: calc(50% - 8px);
    }

    .rule_title {
        font-size: 17px;
    }

    .rule_title_big {
        font-size: 21px;
    }

    .rule_text {
        font-size: 15px;
    }
    schedule {
        width: calc((100% / 4) - 10px);
        font-size: 16px;
    }

    .item_left {
        padding: 20px;
    }
    .item_right {
        padding-right: 20px;
    }

    .item {
        width: 50%;
    }

    .item_title {
        font-size: 18px;
    }
    .item_date {
        font-size: 15px;
    }
    .num_4 {
        font-size: 13px;
    }
    .num_5 {
        font-size: 14px;
    }
    .avd {
        font-size: 15px;
    }
    .pic {
        margin: 8px;
    }
    .sch_2 {
        font-size: 24px;
    }
    .icon_4 {
        height: 64px;
        width: 64px;
    }
    .icon_5 {
        height: 80px;
        width: 80px;
    }
    .name {
        font-size: 20px;
    }
    .desc {
        font-size: 16px;
    }
    .image {
        width: calc(100% - 20px);
        margin: 10px;
    }
    .avatar_img {
        padding: 0px 6px;
    }

    .table {
        font-size: 16px;
    }

    .ver_text {
        font-size: 17px;
    }

    .boss_img {
        height: 80px;
    }
    .num_4 {
        font-size: 13px;
    }
    .num_5 {
        font-size: 14px;
    }
    .pic {
        margin: 8px;
    }
    .icon_4 {
        width: 64px;
    }
    .icon_5 {
        width: 80px;
    }
    .name {
        font-size: 20px;
    }
    .desc {
        font-size: 16px;
    }
    .image {
        width: calc(100% - 20px);
        margin: 10px;
    }
}